.add-product-page {
    display: flex;
  }
  
  .add-product-content {
    flex: 1;
    padding: 20px;
    margin-left: 220px; /* Adjust based on Sidebar width */
  }
  
  .sidebar {
    position: fixed;
    width: 250px; /* Adjust width as needed */
    height: 100vh;
    background-color: #f4f4f4; /* Customize as needed */
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  }
  
  .add-product {
    box-sizing: border-box;
    width: 100%;
    max-width: 800px;
    padding: 30px 50px;
    margin-top: 30px;
    margin-left: 30px; /* Center the form */
    border-radius: 6px;
    background: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border: #000 2px solid;
  }
  
  .add-product-itemfield {
    width: 100%;
    color: #454545;
    font-size: 16px;
  }
  
  .add-product-itemfield input {
    box-sizing: border-box;
    width: 100%;
    height: 50px;
    border-radius: 4px;
    padding-left: 15px;
    border: 1px solid #c3c3c3;
    outline: none;
    color: #454545;
    font-family: 'Poppins';
    font-size: 16px;
  }
  
  .add-product-price {
    display: flex;
    gap: 40px;
  }
  
  .add-product-selector {
    padding: 10px;
    width: 100%;
    height: 50px;
    font-size: 14px;
    color: #7b7b7b;
    border: 1px solid #7b7b7b;
    border-radius: 4px;
  }
  
  .addproduct-thumbnail-img {
    height: 50px;
    width: 70px;
    border-radius: 10px;
    object-fit: contain;
    margin: 5px;
  }
  
  .addproduct-btn {
    margin-top: 20px;
    width: 160px;
    height: 50px;
    border-radius: 6px;
    background: #6079ff;
    border: none;
    cursor: pointer;
    color: white;
    font-size: 16px;
    font-weight: 500;
  }
  
  @media (max-width: 800px) {
    .add-product {
      width: auto;
      padding: 30px;
      margin: 20px;
    }
  
    .add-product-page {
      flex-direction: column;
    }
  
    .sidebar {
      position: relative;
      width: 100%;
      height: auto;
    }
  
    .add-product-content {
      margin-left: 0;
      padding: 10px;
    }
  }
  